{{> partials/htmlhead }}
<div class="container">
  <div class="center">
    <h1>Hello World!</h1>
    <p class="font-size"> This is my first legit gulp workflow! oh yea! </p>
    <p class="font-size">Click here for hbs and directory <a href="pages/landing-page.html">test</a></p>
  </div>
</div>
{{> partials/htmlfooter }}
