.font-size {
  color: #00ff00;
  font-size: 18px;
  text-align: center;
}

h1 {
  text-align: center;
  color: #00ff00;
}

.container {
  width: 100%;
}

.center {
 margin: 0 auto;
 width: 50%;
 background-color: #000;
 border-radius: 5px;
 padding: 10px;
}

a {
  text-decoration: none;
  color: red;
}
