{{>  partials/htmlhead path=".."}}
<div class="container">
  <div class="center">
    <h1>This is another page</h1>
    <p class="font-size"> this is in pages/ directory </p>
  </div>
</div>
{{>  partials/htmlfooter path=".."}}
